body{
background-color: black;
}
h1{
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
    border: 4px solid white;
    padding: 10px;
}
p{
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin: 20px;
    border: 4px solid red;
    padding: 10px;
   font-size: 30px;
   margin-top: 15px;
   width:800px;
   display: flex;
}
img{
    width: 800px;
    height: 500px;
    border: 4px solid white;
    margin-left: 20px;
    margin-right: 30px;

}
div{
   display: flex;
}
footer{

    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-top: 2px solid white;
    padding: 10px;
    margin-top: 20px;

}